$red: #BF1D1D !global;
$poop-brown: #8D5A19 !global;
$brown:#735821 !global;
$tan:#B49C79 !global;
$grey: #292828 !global;

$sans-serif:'Josefin Sans', sans-serif !global;
$serif:'Old Standard TT', serif !global;


@import 'vendor/0-dir';
@import 'modules/0-dir';

.u-hero {
	background:url('../images/dining2.jpg') no-repeat top center fixed; 
	-webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
	position: relative;
	padding: 85px 0 45px 0;
	text-align: center;
	@media (min-width:991px) {
		padding: 140px 0 70px 0;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
}
h2.u-quote {
  font-size: 28px;
  font-family: $sans-serif;
  font-weight: 200;
  color: #fff;
  margin: 0 auto;
  max-width: 720px;
  padding:0 35px;
  position: relative;
  display: block;
  i {
    position: absolute;
    top: 0;
    font-size: 24px;
    font-weight: normal;
    &:first-of-type {
      left:0;
    }
    &:last-of-type {
      right: 0;
    }
  }
}

@import 'layouts/0-dir';

/* BASE RULES */

body {
	font-family:$sans-serif;
}

p {
	font-size: 16px;
	font-weight: 300;
	line-height:1.5;
}

h1,h2,h3,h4,h5 {
	font-family:$serif;
	&.red {
		color: $red;
	}
	&.brown {
		color: $brown;
	}
}

/* UTILITIES */

.u-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.u-clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .u-clearfix { height: 1%; }
.u-clearfix { display: block; }
/* close commented backslash hack */

.u-cta {
	text-align: center;
	p {
		margin: 0 auto 20px auto;
		max-width: 620px;
	}
	h3 {
		margin-bottom: 30px;
	}
}

.u-screen {
	background-color: rgba(0,0,0,0.5);
	display: block;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	&.brown {
		background-color: $poop-brown;
		opacity: 0.8;
	}
	&.white {
		background-color: #fff;
		opacity: 0.9;
	}
	&.red {
		opacity: 0.8;
		background-color: $red;
	}
}

.u-button {
	display: inline-block;
	cursor: pointer;
	height: 42px;
	line-height: 46px;
	padding: 0 15px;
	text-align: center;
	color: rgba(250,250,250,0.8);
	font-weight: 300;
	font-style: none;
	font-size: 16px;
	text-transform: uppercase;
	background-color: $grey;
	transition: all 0.2s ease-out;
	border-radius: 3px;
	&.block {
		display: block;
		margin:0 auto 10px auto;
		width: 100%;
		max-width: 240px;
	}
	&:hover {
		color: #fff;
		text-decoration: none;
		background-color: lighten($grey, 5);
	}
	&:active {
		text-decoration: none;
	}
	&.red {
		background-color: $red;
		&:hover {
			background-color: lighten($red, 5);
		}
		&.trans {
			background: none;
			font-weight: bold;
			color: $red;
			box-shadow: 0 0 0 2px $red inset;
			&:hover {
				background-color:rgba(250,250,250,0.6);
				box-shadow: 0 0 0 2px lighten($red, 5) inset;
			}
		}
	}
	&.brown {
		background-color: $brown;
		&:hover {
			background-color: lighten($brown, 5);
		}
		&.trans {
			background: none;
			font-weight: bold;
			color: $brown;
			box-shadow: 0 0 0 2px $brown inset;
			&:hover {
				background-color:rgba(250,250,250,0.6);
				box-shadow: 0 0 0 2px lighten($brown, 5) inset;
			}
		}
	}
	&.trans-white {
		color: #fff;
		background: none;
		box-shadow: 0 0 0 2px #fff inset;
		&:hover {
			background-color:rgba(250,250,250,0.2);
		}
	}
}

.u-box {
	text-align: center;
	color: $brown;
	border:1px solid $brown;
	padding: 0 25px;
	height: 100%;
	display: table;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 25px;
	h3 {
		margin-top: 35px;
	}
	.u-button {
		margin-bottom: 35px;
	}
	.box-content {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		z-index: 2;
	}
	&.box-bg-1 {
		color: #fff;
		background: url('../images/merch.jpg');
	}
	&.box-bg-2 {
		color: #fff;
		background: url('../images/box-2.jpg');
	}
	&.box-red {
		border-color: $red;
		h3 {
			color: $red;
		}
	}
	&.box-brown {
		border-color: $brown;
		h3 {
			color: $brown;
		}
	}
	@media (min-width:992px) {
		margin-bottom: 0;
	}
}
