.l-sales-hero {
	background-image:url('../images/sales.jpg'); 
}

.l-sales-splash {
	padding: 45px 0;
	overflow: hidden;
	position: relative;
	text-align: center;
	color: #fff;
	background:url('../images/shopping_malls_oohmedia.jpg') no-repeat top center fixed; 
	-webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
	.container {
		position: relative;
		z-index: 2;
	}
}