/* line 10, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
[class|="margin"] {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 13, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-none {
  margin-top: 0;
  margin-bottom: 0; }

/* line 16, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 19, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-sm {
  margin-top: 20px;
  margin-bottom: 20px; }

/* line 22, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-md {
  margin-top: 40px;
  margin-bottom: 40px; }

/* line 25, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-lg {
  margin-top: 60px;
  margin-bottom: 60px; }

/* line 28, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.margin-xl {
  margin-top: 80px;
  margin-bottom: 80px; }

/* line 32, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
[class|="padding"] {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 35, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-none {
  padding-top: 0;
  padding-bottom: 0; }

/* line 38, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

/* line 41, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

/* line 44, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-md {
  padding-top: 40px;
  padding-bottom: 40px; }

/* line 47, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-lg {
  padding-top: 60px;
  padding-bottom: 60px; }

/* line 50, /Users/chief/work/parkplace/source/stylesheets/modules/_spacing.scss */
.padding-xl {
  padding-top: 80px;
  padding-bottom: 80px; }
