---
title: Park Place Shopping Center
---

<div class="home-hero">
	<div class="container">
		<h1>Great Stores. Better Living.</h1>
		<%= link_to 'Directory', 'directory.html', :class=>'u-button red' %>
	</div>
	<div class="u-screen">&nbsp;</div>
</div>