---
title: Location
---

<div class="l-location-hero">
	<div class="container">
		<h2 class="u-quote"><i class="fa fa-quote-left"></i>I mainly go for the GB3 Gym, but it has a great mix of cool stores and has a real pleasant atmosphere.<i class="fa fa-quote-right"></i></h2>
	</div>
	<div class="u-screen brown"></div>
</div>

<div id="map_canvas"></div>

<div class="container padding-md l-location-body">
	<div class="row">
		<div class="row-md-height">
		  <div class="col-xs-12 col-sm-4 col-md-6 col-md-height col-md-middle">
		  	<%= image_tag 'http://placehold.it/350x250' %>
		  </div>
			<div class="col-xs-12 col-sm-8 col-md-6 col-md-height col-md-middle">
				<h3 class="red">5555 Address Lane<br>Fresno CA<br>93720</h3>
				<p>
					Lorem ipsum Eu adipisicing dolor non et Ut pariatur aute nisi aliqua voluptate sunt dolore id Excepteur exercitation nostrud veniam aliqua nulla nisi id sed id et qui ut elit quis irure deserunt minim id est officia laborum aliqua id dolore velit esse in nulla dolore officia prom sint fugiat ut laborum irure deserunt qui non culpa occaecat aliqua sit non quis quis pariatur eiusmod incididunt fugiat aliqua ad laborum velit laboris fugiat consectetur Excepteur sed deserunt cillum Excepteur nulla quis sunt commodo veniam officia cillum labore id aliquip sint consectetur aliquip mollit Ut aliqua ut eiusmod ea mollit veniam aliquip pariatur.
				</p>
				<h3>Contact Us</h3>
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<%= link_to 'call us','javascript:void(0);', :class=>'u-button red block' %>
					</div>
					<div class="col-xs-12 col-md-4">
						<%= link_to 'email us','javascript:void(0);', :class=>'u-button red block' %>
					</div>
					<div class="col-xs-12 col-md-4">
						<%= link_to 'locate us','javascript:void(0);', :class=>'u-button red block' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
Add the code below to the bottom of your page, just before the closing </body> tag.
Edit myLatlng and the other variables.

Find syntax for Features that can be styled here:

https://developers.google.com/maps/documentation/javascript/reference#MapTypeStyleFeatureType

Or use a service such as:

http://software.stadtwerk.org/google_maps_colorizr/#
http://gmaps-samples-v3.googlecode.com/svn/trunk/styledmaps/wizard/index.html
https://developers.google.com/maps/documentation/javascript/tutorial
-->

<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript">
  var bittersMap = (function () {
    var myLatlng = new google.maps.LatLng(6.851020, 18.057340),
        mapCenter = new google.maps.LatLng(6.851020, 18.057340),
        mapCanvas = document.getElementById('map_canvas'),
        mapOptions = {
          center: mapCenter,
          zoom: 7,
          scrollwheel: false,
          draggable: true,
          disableDefaultUI: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        },
        map = new google.maps.Map(mapCanvas, mapOptions),
        contentString =
          '<div id="content">'+
          '<div id="siteNotice">'+
          '</div>'+
          '<h1 id="firstHeading" class="firstHeading">thoughtbot</h1>'+
          '<div id="bodyContent"'+
          '<p>Sveavägen 98</p>'+
          '</div>'+
          '</div>',
        infowindow = new google.maps.InfoWindow({
          content: contentString,
          maxWidth: 300
        }),
        marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'thoughtbot (Sweden)'
        });

    return {
      init: function () {
        map.set('styles', [{
          featureType: 'landscape',
          elementType: 'geometry',
          stylers: [
            { hue: '#ffff00' },
            { saturation: 30 },
            { lightness: 10}
          ]}
        ]);

        google.maps.event.addListener(marker, 'click', function () {
          infowindow.open(map,marker);
        });
      }
    };
  }());

  bittersMap.init();
</script>